/* :::: statistic styles :::: */
.statistics{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.6rem;
    width: var(--mainWidth);
    font-size: 1.4rem;
    color: white;
    background-color: var(--statisticBackground);
}
