.logo_wrap{
    position: fixed;
    top: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
   /*  width: 84rem; */
    width: var(--mainWidth);
    min-height: 4rem;
    padding:2rem;
    margin-bottom: 1rem;
    background-color: var(--logoBackground);
}

.title{
    font-size: 4rem;
    letter-spacing: 0.4rem;
    color: white;
    font-weight: bolder;
    text-shadow: 0px 0px 6px black;
}