.logo_wrap{
    position: fixed;
    top: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    min-width: 78%;
    min-height: 4rem;
    /* top | left | right | bottom */
    padding: 1rem 4rem 4rem 0.4rem;
    margin-bottom: 1rem;
    background-color: var(--logoBackground);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
}


.title{
    font-size: 2rem;
    color: white;
    text-shadow: 0px 0px 2px black;
}