/* :::: index styles :::: */
*{margin: 0; padding: 0; box-sizing: border-box;}
 
@font-face{
  font-family: 'chalk_pigment';
  src:url('/public/pigment-DEMO.woff')format("woff");
}


:root{
  font-family: 'chalk_pigment', monospace; 
  font-size: 100%;
  --backgroundBody: whitesmoke;
  --backgroundApp: rgb(250, 240, 230);
  --logoBackground: rgb(37, 34, 46);
  --formBackground:rgb(92, 84, 112);
  --listBackground:rgb(185, 180, 199);
  --statisticBackground: rgb(53, 47, 68);
  --listItem: rgb(92, 84, 112);
  --sortWrap: rgb(71, 66, 83);
  --inputBackground: rgb(53, 47, 68);
  --addButton: slateblue;
  --clearButton: red;
  --mainWidth: 84rem;

}
 
body{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin: 0px auto;
  background: gainsboro;
}
